@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: "Playfair Display", serif;

}

::-webkit-scrollbar{
  display: none;
}
html, body {
    /* overflow-y: hidden; */
    /* overflow-x: hidden; */
    scroll-behavior: smooth;
}


#main-nav-container {
    background-color: #003D5B;
    padding: 10px 20px;
    position: sticky;
    top: 0;
    z-index: 1000;
}

#main-nav-container .navbar-nav .nav-link {
    color: #ffffff;
    padding: 10px;
    transition: background-color 0.3s;
    text-decoration: none; 
}

#main-nav-container .navbar-nav .nav-link:hover,
#main-nav-container .navbar-nav .nav-link:focus {
    background-color: #012a22;
    border-radius: 5px;
}

#main-nav-container .navbar-toggler {
    font-size: 30px;
    color: #ffffff;
    border: none;
    background: none; 
    display: flex;
    align-items: center;
    justify-content: center;
}


#main-nav-container .navbar-toggler-icon::before {
    top: -8px;
}

#main-nav-container .navbar-toggler-icon::after {
    top: 8px;
}

#quote-button {
    background-color:teal;
    color: #ffffff;
    border: none;
    padding: 12px 25px;
    border-radius: 5px;
    transition: background-color 0.3s;
    text-decoration: none;
}

#quote-button:hover,
#quote-button:focus {
    background-color: #010f14;
}

#main-nav-container .nav-item a {
    text-decoration: none;
}

#logo {
    height: 90px;
    border-radius: 18%;
}


@media (min-width: 992px) {
    #main-nav-container .navbar-toggler {
        display: none;
    }
}


@media (max-width: 991px) {
    #main-nav-container .navbar-toggler {
        display: flex;
    }
    #logo {
        height: 50px;
        border-radius: 18%;
    }
    
    #main-nav-container .navbar-nav {
        display: block;
        width: 100%;
        text-align: center;
    }

    #main-nav-container .navbar-nav .nav-item {
        margin-bottom: 10px;
    }

    #main-nav-container .navbar-nav .nav-item:last-child {
        text-align: center;
        width: 100%;
    }

    #quote-button {
        margin: 0 auto;
        display: block;
    }
}






/* Hero section */
.hero {
    background-size: cover;
    background-position: center;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: rgb(252, 254, 252);
    padding: 20px;
    position: relative; 
    overflow: hidden;
    font-family: "Playfair Display", serif;
}

.hero::before { 
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: inherit;
    background-size: cover;
    background-position: center;
    filter: blur(4px);
    z-index: 0; 
}



#hero-content {
    position: relative; 
    padding: 40px;
    border-radius: 10px;
    display: flex;
    flex-direction: column; 
    align-items: center;
    font-family: "Playfair Display", serif;
    justify-content: center;
}

.hero h1 {
    font-size: 2.5em;
    font-family: "Playfair Display", serif;
    margin-bottom: 20px;
    color: #ffffff;
    text-shadow: 0px 0px 10px #333;
  }

.hero p {
    font-size: 1.2em;
    width: 50%; 
    margin: 30px auto;
    color: rgb(254, 254, 254);
    font-weight: bolder;
    font-family: "Playfair Display", serif;
}

.hero-button {
    background-color: teal;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.hero-button:hover, 
.hero-button:focus {
    background-color: #012a22;
}

/* Media Query */
@media (max-width: 768px) {
    .hero {
        height: 50vh;
    }

   .hero h1 {
        font-size: 1.1em; 
    }

    .hero p {
        margin-top: 5px;
        font-size: 0.7em; 
        width: 90%; 
    }

    .hero-button {
        padding: 5px 10px; 
    }
}





#contactSection {
    display: flex;
    flex-wrap: wrap; /* Allows wrapping in case of smaller screens */
    align-items: flex-start;
    margin: 40px auto;
    max-width: 1200px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
}

.contactHeading {
    width: 100%; 
    font-size: 2.5em;
    text-align: center;
    margin-bottom: 30px;
    color: teal;
}

/* Image Container */
#imageContainer {
    flex: 1 1 40%; 
    max-width: 40%; 
    padding-right: 20px;
}

#imageContainer img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 8px;
}

/* Form Container */
#contactFormSection {
    flex: 1 1 55%; /* Flex-grow: 1, flex-shrink: 1, 55% width */
    max-width: 55%; /* Ensure it doesn't exceed 55% */
}

/* Form Styles */
.uniqueContactForm label {
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
}

.uniqueContactForm input, 
.uniqueContactForm textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

.uniqueContactForm input:focus, 
.uniqueContactForm textarea:focus {
    border-color: #5cb85c;
    outline: none;
    box-shadow: 0 0 5px rgba(92, 184, 92, 0.5);
}

.uniqueContactForm button {
    width: 100%;
    padding: 12px;
    background-color: teal;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.uniqueContactForm button:hover {
    background-color: #012a22;
}

/* Contact Information Section */
#uniqueContactInfo {
    text-align: center;
    margin: 40px auto;
    max-width: 800px;
}

#uniqueContactInfo p {
    font-size: 1.2em;
    margin-bottom: 10px;
}

#uniqueContactInfo a {
    color: #5cb85c;
    text-decoration: none;
}

#uniqueContactInfo a:hover {
    text-decoration: underline;
}

/* Google Map */
#map {
    margin-top: 20px;
    width: 100%;
    height: 400px;
    border-radius: 8px;
    overflow: hidden;
}

/* Responsive Design - Media Query for Mobile View */
@media (max-width: 768px) {
    #contactSection {
        flex-direction: column; 
    }

    #imageContainer, 
    #contactFormSection {
        max-width: 100%; 
        padding-right: 0;
    }

    .contactHeading {
        font-size: 2em;
    }
    

    #map {
        height: 300px;
        width: 96%;
        margin: 0 auto;
    }
}










  /* Contact Section */
  #contact {
    background-color: #ff6f61;
    color: white;
    padding: 40px 0;
}

#contact h1 {
    color: white;
}

#contact p {
    color: white;
}

#contact button {
    background-color: white;
    color: #ff6f61;
    border: 2px solid white;
}

#contact button:hover {
    background-color: #012a22;
    color: white;
}



















/* Footer Section */
footer {
    background-color: #003D5B;
    color: #fff;
    padding: 20px;
  }
  
  .footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; /* Distribute space evenly */
    align-items: flex-start; /* Align items from the top */
  }
  
  .footer-container div {
    flex: 1;
    min-width: 200px;
    margin: 10px;
    text-align: center; 
  }
  
  .footer-container h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: #ffffff;
    text-align: center; 
  }
  
  .quick-links ul, 
  .social-media ul {
    list-style-type: none;
    padding: 0;
  }
  
  .quick-links ul li,
  .social-media ul li {
    margin-bottom: 5px;
  }
  
  .quick-links ul li a, 
  .social-media ul li a,
  .contact-info a {
    color: white;
    text-decoration: none;
    transition: color 0.3s;
  }
  
  .footer-container a:hover {
    color: teal;
  }
  
  .get-quote input[type="text"],
  .get-quote input[type="email"] {
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-right: 5px;
    margin-bottom: 10px;
  }
  
  .get-quote button {
    background-color: teal;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .get-quote button:hover {
    background-color: #012a22;
  }
  
  .contact-info p {
    margin-bottom: 10px;
    font-family: "Playfair Display", serif;
  }
  
  .copyright {
    text-align: center;
    margin-top: 20px;
    font-size: 0.8em;
    color: #A8D5BA;
  }
  
    
    /* Media Query for Responsiveness */
    @media (max-width: 768px) {
      footer {
          padding: 20px 10px;
      }
    
      .footer-container {
          flex-direction: column; 
          align-items: center;
      }
    
      .footer-container div {
          width: 100%; 
          margin-bottom: 20px;
      }
    
      .footer-container h3 {
          text-align: center;
          font-size: 1.5em;
          
      }
    
      .footer-container ul li {
          text-align: center;
      }
    
      .get-quote input[type="text"],
      .get-quote input[type="email"] {
          width: 90%; 
          margin-bottom: 10px; 
      }
    
      .get-quote button {
          width: 50%; 
          padding: 5px;
          font-size: 1em;
      }
    
      .social-media ul {
          flex-direction: column;
          align-items: center;
      }
    
      .social-media ul li a {
          font-size: 1em; 
      }
    
      .contact-info a {
          font-size: 1em; 
      }
    
      .copyright {
          font-size: 1em;
      }
    }  
       
     /* Chatbot */
    #harmony-chatbot {
      /* overflow: hidden; */
      display: none;
      position: fixed;
      bottom: 100px;
      right: 20px;
      width: 300px;
      height: 50vh;
      background-color: white;
      border-radius: 5px;
      box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.5);
      z-index: 1000; 
    }
    
    #harmony-chatbot-header {
      background-color: #4CAF50;
      color: white;
      padding: 10px;
      display: flex;
      justify-content: space-between;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
    }
    
    #harmony-chatbot-body {
      height: calc(50vh - 80px);
      padding: 10px;
      overflow-y: auto;
      color: black;
    }
    
    #harmony-chatbot-input {
      display: flex;
      padding: 10px;
    }
    
    #harmony-user-input {
      flex-grow: 1;
      padding: 5px;
      border: 1px solid #ccc;
      border-radius: 5px;
    }
    
    #harmony-send-btn {
      background-color: #4CAF50;
      color: white;
      border: none;
      padding: 5px 10px;
      border-radius: 5px;
      cursor: pointer;
      margin-left: 10px;
    }
    
    #harmony-chatbot-icon img{
      position: fixed;
      bottom: 0px;
      right: 20px;
      width: 80px;
      height: 70px;
      cursor: pointer;
      z-index: 999; 
    }
    
    @media (max-width: 600px) {
      #harmony-chatbot {
        width: 50%;
        bottom: 50px;
        right: 5%;
      }
    
      #harmony-chatbot-icon {
        bottom: 10px;
        right: 10px;
        width: 50px;
        height: 50px;
      }
    }
  
  
   
  